{% extends '../base.html %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block contents %}
			<div id="board">
				<form id="search_form" action="board/writeform" method="post">
					{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in boardlist %}
					<tr>
						<td>{{ presentmaxindex | sub:forloop.counter | add:1 }}</td>
						<td><a href="" style="text-align:left; padding-left:0px">{{ board.title }}</a></td>
						<td>{{ board.name }}</td>
						<td>{{ board.hit }}</td>
						<td>{{ board.reg_date }}</td>
						<td><a href="/board/deleteform?no={{board.no}}" class="del">삭제</a></td>
					</tr>
					{% endfor %}
				</table>
				
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						{% if minnumberlist > 5 %}
						<li><a href="/board/?p={{minnumberlist | sub:1}}">◀</a></li>
						{% else %}
						<li>◀</li>
						{% endif %}

						{% for num in numberlist %}
						{% if num == correctpage %}
						<li class="selected">{{ num }}</li>
						{% elif num <= pagecount %}
						<li><a href="/board/?p={{num}}">{{ num }}</a></li>
						{% else %}
						<li>{{ num }}</li>
						{% endif %}
						{% endfor %}

						{% if maxnumberlist < pagecount %}
						<li><a href="/board/?p={{maxnumberlist | add:1}}">▶</a></li>
						{% else %}
						<li>▶</li>
						{% endif %}
					</ul>
				</div>					
				<!-- pager 추가 -->
				
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>
				</div>				
			</div>
{% endblock %}
