{% extends '../base.html %}

{% block css_link %}
<link href="/assets/css/user.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block contents %}
			<div id="user">

				<form id="join-form" name="joinForm" method="post" action="/user/update">
					{% csrf_token %}
					<label class="block-label" for="name">이름</label>
					<input id="name" name="name" type="text" value={{ data.name }} >

					<label class="block-label">이메일</label>
					<h4> {{ data.email }} </h4>
					
					<label class="block-label">패스워드</label>
					<input name="password" type="password" value="">
					
					<fieldset>
						<legend>성별</legend>
						{% if data.gender == 'male' %}
						<label>남</label> <input type="radio" name="gender" value="male" checked="checked">
						<label>여</label> <input type="radio" name="gender" value="female">
						{% else %}
						<label>남</label> <input type="radio" name="gender" value="male" >
						<label>여</label> <input type="radio" name="gender" value="female" checked="checked">
						{% endif %}
					</fieldset>
					
					<fieldset>
						<legend>약관동의</legend>
						<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
						<label>서비스 약관에 동의합니다.</label>
					</fieldset>
					
					<input type="submit" value="수정하기">
					
				</form>
			</div>
{% endblock %}
